@import url('../variables/color.css');
@import url('../variables/font.css');
@import url('../variables/sizes.css');

.button {
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: var(--input-padding-y) var(--input-padding-x);
    border-radius: var(--radius-sm);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}