@import url('../variables/color.css');
@import url('../variables/font.css');
@import url('../variables/sizes.css');

.welcomeContainer {
    width: 100%;
    max-width: var(--max-width-xl);
    margin: var(--space-md) 0 var(--space-xs) var(--space-xl);
    /* padding: 0 var(--space-md) 0 var(--space-xxl); More left padding */
    text-align: left;
}

.userGreeting, 
.welcomeMessage {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-semibold);
    /* margin-bottom: var(--space-xl); */
    color: var(--color-text);
    line-height: var(--line-height-tight);
    padding-left: var(--space-xs); /* Additional text indentation */
}

.primaryText {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}