/* ---------- Default theme colors ---------- */
:root {
    --color-bg: #ededed;
    --color-text: #3f3f3f;
    --color-primary: #4579e9e1;
    --color-secondary: #d5dae1;
    --color-accent: #893d95;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #282727;
        --color-text: #c7c7c7;
        --color-primary: #5a8cdd;
        --color-secondary: #4b5563;
        --color-accent: #e879f9;
    }
}

/* ---------- Dark theme colors ---------- */
[data-theme="dark"] {
    --color-bg: #ededed;
    --color-text: #3f3f3f;
    --color-primary: #4579e9e1;
    --color-secondary: #d5dae1;
    --color-accent: #893d95;
}

/* ---------- Light theme colors ---------- */
[data-theme="light"] {
    --color-bg: #282727;
    --color-text: #c7c7c7;
    --color-primary: #5a8cdd;
    --color-secondary: #4b5563;
    --color-accent: #e879f9;
}
/* ---------------------------------------- */
