/* ---------- Default theme colors ---------- */
:root {
    --color-bg: #ededed;
    --color-text: #3f3f3f;
    --color-primary: #6787ce;
    --color-secondary: #d5dae1;
    --color-accent: #ed98fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #1b1919;
        --color-text: #d1d1d1;
        --color-primary: #5a8cdd;
        --color-secondary: #6a5f8e;
        --color-accent: #a74fbd;
    }
}

/* ---------- Dark theme colors ---------- */
[data-theme="dark"] {
    --color-bg: #ededed;
    --color-text: #3f3f3f;
    --color-primary: #6787ce;
    --color-secondary: #d5dae1;
    --color-accent: #ed98fa;
}

/* ---------- Light theme colors ---------- */
[data-theme="light"] {
    --color-bg: #1b1919;
    --color-text: #d1d1d1;
    --color-primary: #5a8cdd;
    --color-secondary: #6a5f8e;
    --color-accent: #a74fbd;
}
/* ---------------------------------------- */
